.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 45px 0;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  text-align: center;
  color: #ffffff;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -5px;
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 185px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 12px 15px;
  background-color: #5a2a8f;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #5a2a8f;
}

.slider_section .detail-box .btn-box .btn1:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 23px;
  height: 23px;
  background-color: #f8842b;
}

.event_section {
  text-align: center;
}

.event_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.event_section .box {
  margin-top: 25px;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.event_section .box::before {
  content: "";
  width: 275px;
  height: 275px;
  position: absolute;
  right: -137.5px;
  bottom: -137.5px;
  background-color: #faf8fd;
  z-index: -1;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.event_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 125px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.event_section .box .img-box img {
  width: 75px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.event_section .box .detail-box {
  margin-top: 15px;
}

.event_section .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

.event_section .box .detail-box a {
  color: inherit;
}

.event_section .box:hover {
  color: #ffffff;
}

.event_section .box:hover::before {
  -webkit-transform: scale(5);
  transform: scale(5);
  background-color: #7335b7;
}

.event_section .box:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.event_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.event_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #7335b7;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #7335b7;
}

.event_section .btn-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.about_section {
  background-color: #7335b7;
  color: #ffffff;
  border-radius: 250px 0 250px 0;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img-box {
  position: relative;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}
.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f8842b;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f8842b;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.branch_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.branch_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.branch_section .box,
.menu_section .box {
  margin-top: 45px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}

.branch_section .box .img-box,
.menu_section .img-box {
  position: relative;
}

.branch_section .box .img-box img,
.menu_section .img-box img {
  width: 100%;
}
.branch_section .box .detail-box,
.menu_section .box .detail-box {
  padding: 25px;
}

.branch_section .box .detail-box h5,
.menu_section .box .detail-box h5 {
  font-weight: bold;
}

.branch_section .box .detail-box p {
  font-size: 15px;
}

.branch_section .box .detail-box a {
  color: #7335b7;
}

.menu_section {
  background-color: #ffffff;
  color: #000000;
}

.menu_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_section .img-box {
  position: relative;
}

.menu_section .img-box img {
  width: 100%;
}

.menu_section .detail-box p {
  margin-top: 15px;
}
.menu_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
